/* --------------- DEAFULT STYLES --------------- */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
  padding: 0px;
  line-height: 0;
}

input {
  font-family: inherit;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}
/* --------------- DEAFULT STYLES /--------------- */

/* --------------- FONT STYLES --------------- */
.section-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* --------------- FONT STYLES /--------------- */

/* --------------- HIDDEN ELEMENTS --------------- */
.header-list {
  display: none;
}

.address-contact {
  display: none;
}
/* --------------- HIDDEN ELEMENTS /--------------- */

/* --------------- MOBILE HEADER STYLES --------------- */
.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  padding: 16px;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  display: inline-block;
  margin-right: 120px;
}

.header-logo-span {
  color: #2e2f42;
}
/* --------------- MOBILE HEADER STYLES /--------------- */

@media screen and (max-width: 767px) {
  .mobile-burger-btn {
    border: none;
    background-color: transparent;
    line-height: 0;
    fill: #2f2f37;
  }

  /* --------------- MOBILE MENU STYLES --------------- */
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #ffffff;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    transform: translateX(0%);
  }

  .mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  .mobile-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    fill: #2e2f42;
  }

  .mobile-contact-wrap {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .mobile-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .mobile-link {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-studio {
    color: #404bbf;
  }

  .mobile-link:hover,
  .mobile-link:focus {
    color: #404bbf;
  }

  .mobile-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .mobile-address-info {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-tel {
    color: #4d5ae5;
  }

  .mobile-address-info:hover,
  .mobile-address-info:focus {
    color: #404bbf;
  }

  .mobile-icon-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .mobile-social-item {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
  }

  .mobile-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-social-icon {
    fill: #f4f4fd;
  }

  /* .mobile-social-link:hover,
  .mobile-social-link:focus {
    background-color: #31d0aa;
  } */
}
/* --------------- MOBILE MENU STYLES /--------------- */

/* --------------- MOBILE HERO STYLES --------------- */
.hero {
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  max-width: 1440px;
  margin: 0 auto;
  background-position: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile/people-office-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile/people-office-mobile@2x.jpg);
  }
}

.hero-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 158px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.hero-btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  display: block;
  height: 56px;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
/* --------------- MOBILE HERO STYLES /--------------- */

/* --------------- MOBILE BENEFITS STYLES --------------- */
.icon-wrapper {
  display: none;
}

.benefits {
  background-color: #ffffff;
  padding-top: 96px;
  padding-bottom: 96px;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.page-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
}

.page-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* --------------- MOBILE BENEFITS STYLES /--------------- */

/* --------------- MOBILE TEAM STYLES --------------- */
.team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
  text-align: center;
}

.team-list-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.social-item {
  width: 40px;
  height: 40px;
}

.card-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: #f4f4fd;
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
/* --------------- MOBILE TEAM STYLES /--------------- */

/* --------------- MOBILE PORTFOLIO STYLES /--------------- */
.portfolio {
  background-color: #ffffff;
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 48px;
}

.portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-box {
  position: relative;
  overflow: hidden;
}

.overlay-card {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 288px;
  height: 280px;
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .overlay-card,
.portfolio-list-item:focus .overlay-card {
  transform: translateY(0%);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.second-card-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: 0;
}
/* --------------- MOBILE PORTFOLIO STYLES --------------- */

/* --------------- MOBILE FOOTER STYLES --------------- */
.page-footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-box {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
  justify-content: center;
}

.footer-logo-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.footer-logo-span {
  color: #f4f4fd;
}

.footer-text {
  max-width: 288px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-social-media {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.footer-second-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-icon-list {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.subscribe-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-input {
  width: 288px;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #ffffff;
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;
  outline: transparent;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
  color: #ffffff;
  font-weight: 400;
}

.footer-input:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.subscribe-btn {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
}

/* --------------- MOBILE FOOTER STYLES /--------------- */

/* --------------- MOBILE BACKDROP STYLES --------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* --------------- MOBILE BACKDROP STYLES /--------------- */

/* --------------- MOBILE MODAL STYLES --------------- */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  background-color: #fcfcfc;
  padding: 72px 16px 24px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px;
  line-height: 0;
  fill: #2e2f42;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-icone {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form-label,
.modal-form-checkbox-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.modal-form-field {
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-wrapper {
  margin-bottom: 8px;
}

.modal-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrapper {
  position: relative;
}

.modal-form-field:focus-within,
.modal-form-massage:focus-within {
  border-color: #4d5ae5;
  outline: transparent;
}

.modal-form-field:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-form-massage {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
}

.modal-form-massage::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-massage-wrapper {
  margin-bottom: 16px;
  line-height: 0;
}

.modal-own-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  flex-shrink: 0;
}

.policy-link {
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #4d5ae5;
}

.modal-form-checkbox-wrapper {
  margin-bottom: 24px;
  display: flex;
}

.modal-form-checkbox-field:checked
  + .modal-form-checkbox-label
  .modal-own-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.modal-form-checkbox-field + .modal-form-checkbox-label .modal-own-checkbox {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  height: 56px;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: #404bbf;
  border: #404bbf;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
/* --------------- MOBILE MODAL STYLES /--------------- */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* --------------- TABLET HEADER STYLES /--------------- */
  .mobile-menu {
    display: none;
  }

  .mobile-burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }

  .header-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }

  .address-contact {
    display: block;
  }

  .header-link {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link:hover,
  .header-link:focus {
    color: #404bbf;
  }

  .studio {
    position: relative;
    color: #404bbf;
  }

  .studio:after {
    position: absolute;
    content: '';
    display: block;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    bottom: -1px;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }

  .address-contact {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
  }

  .address-info {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-info:hover,
  .address-info:focus {
    color: #404bbf;
  }
  /* --------------- TABLET HEADER STYLES /--------------- */

  /* --------------- TABLET HERO STYLES --------------- */
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/people-office-tablet.jpg);
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tablet/people-office-tablet@2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }

  .hero-btn {
    min-width: 169px;
    border-radius: 4px;
    padding: 16px 32px;
  }

  .hero-btn:hover,
  .hero-btn:focus {
    background-color: #404bbf;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
  /* --------------- TABLET HERO STYLES /--------------- */

  /* --------------- TABLET BENEFITS STYLES --------------- */

  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .benefits-item {
    max-width: 356px;
  }

  .page-title {
    text-align: left;
  }
  /* --------------- TABLET BENEFITS STYLES /--------------- */

  /* --------------- TABLET TEAM STYLES /--------------- */
  .team-list {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  /* --------------- TABLET TEAM STYLES /--------------- */

  /* --------------- TABLET PORTFOLIO STYLES /--------------- */
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
  }

  .overlay-card {
    width: 356px;
    height: 300px;
  }
  /* --------------- TABLET PORTFOLIO STYLES --------------- */

  /* --------------- TABLET FOOTER STYLES /--------------- */

  .footer-box {
    align-items: baseline;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 108px;
    padding-right: 164px;
  }

  .footer-logo-box {
    align-items: flex-start;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-social-media {
    align-items: baseline;
  }

  .footer-form-wrapper {
    display: block;
  }

  .subscribe-text {
    margin-bottom: 16px;
  }

  .footer-form {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .footer-input {
    width: 264px;
    margin-bottom: 0;
  }

  /* --------------- TABLET FOOTER STYLES /--------------- */

  /* --------------- TABLET BACKDROP STYLES /--------------- */
  /* --------------- TABLET BACKDROP STYLES /--------------- */

  /* --------------- TABLET MODAL STYLES /--------------- */
  .modal {
    width: 408px;
    height: 584px;
  }
  /* --------------- TABLET MODAL STYLES /--------------- */
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* --------------- DESKTOP HEADER STYLES --------------- */

  .address-list {
    flex-direction: row;
    gap: 40px;
  }

  .address-contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /* --------------- DESKTOP HEADER STYLES /--------------- */

  /* --------------- DESKTOP HERO STYLES --------------- */
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop/people-office-desktop.jpg);
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 1158px),
    screen and (min-resolution: 2dppx) and (min-width: 1158px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/desktop/people-office-desktop@2x.jpg);
    }
  }

  .hero-title {
    max-width: 496px;
    margin-bottom: 36px;
  }
  /* --------------- DESKTOP HERO STYLES /--------------- */

  /* --------------- DESKTOP BENEFITS STYLES --------------- */
  .benefits {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .benefits-list {
    gap: 24px;
  }

  .benefits-item {
    max-width: 264px;
  }

  .page-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .page-text {
    font-weight: 400;
  }

  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  /* --------------- DESKTOP BENEFITS STYLES /--------------- */

  /* --------------- DESKTOP TEAM STYLES --------------- */
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list-item {
    width: calc((100% - 72px) / 4);
  }
  /* --------------- DESKTOP TEAM STYLES /--------------- */

  /* --------------- DESKTOP PORTFOLIO STYLES /--------------- */
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    row-gap: 48px;
  }

  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }

  .overlay-card {
    width: 360px;
    height: 300px;
  }
  /* --------------- DESKTOP PORTFOLIO STYLES --------------- */

  /* --------------- DESKTOP FOOTER STYLES /--------------- */
  .page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-box {
    gap: 0;
    justify-content: space-between;
  }

  .footer-logo-box {
    margin-right: 120px;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-social-media {
    gap: 0;
    margin-right: 80px;
  }

  .footer-second-text {
    margin-bottom: 16px;
  }

  .footer-input {
    width: 264px;
  }
  /* --------------- DESKTOP FOOTER STYLES /--------------- */

  /* --------------- DESKTOP BACKDROP STYLES /--------------- */
  /* --------------- DESKTOP BACKDROP STYLES /--------------- */

  /* --------------- DESKTOP MODAL STYLES /--------------- */
  /* --------------- DESKTOP MODAL STYLES /--------------- */
}
