/* --------------- DEAFULT STYLES --------------- */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
  padding: 0px;
  line-height: 0;
}

input {
  font-family: inherit;
}

.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}
/* --------------- DEAFULT STYLES /--------------- */

/* --------------- FONT STYLES --------------- */
.section-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.page-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.page-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* --------------- FONT STYLES /--------------- */

/* --------------- HEADER STYLES --------------- */
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  display: inline-block;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-logo-span {
  color: #2e2f42;
}

.header-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.header-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.studio {
  position: relative;
  color: #404bbf;
}

.studio:after {
  position: absolute;
  content: '';
  display: block;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  bottom: -1px;
}

.address-list {
  display: flex;
  gap: 40px;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.address-container {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-info {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-info:hover,
.address-info:focus {
  color: #404bbf;
}
/* --------------- HEADER STYLES /--------------- */

/* --------------- HERO STYLES --------------- */
.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin: 0 auto;
  background-position: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.hero-btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  display: block;
  height: 56px;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
/* --------------- HERO STYLES /--------------- */

/* --------------- BENEFITS STYLES --------------- */
.benefits {
  background-color: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.page-title {
  margin-top: 8px;
  margin-bottom: 8px;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}
/* --------------- BENEFITS STYLES /--------------- */

/* --------------- TEAM STYLES --------------- */
.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-list {
  display: flex;
  gap: 24px;
  align-items: center;
  text-align: center;
}

.team-list-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.social-item {
  width: 40px;
  height: 40px;
}

.card-box {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-top: 8px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: #f4f4fd;
}

.social-link:hover,
.social-link:focus,
.social-link:active {
  background-color: #404bbf;
}
/* --------------- TEAM STYLES /--------------- */

/* --------------- PORTFOLIO STYLES --------------- */
.portfolio {
  background-color: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-card {
  /* position: relative; */
}

.overlay-box {
  position: relative;
  overflow: hidden;
}

.overlay-card {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 360px;
  height: 300px;
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .overlay-card,
.portfolio-list-item:focus .overlay-card {
  transform: translateY(0%);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.second-card-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: 0;
}
/* --------------- PORTFOLIO STYLES /--------------- */

/* --------------- FOOTER STYLES --------------- */
.page-footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo-span {
  color: #f4f4fd;
}

.page-footer .logo-link {
  margin-bottom: 16px;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.footer-text {
  max-width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-box {
  display: flex;
  align-items: baseline;
}

.footer-logo-box {
  margin-right: 120px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: #f4f4fd;
}

.footer-icon-list {
  display: flex;
  gap: 16px;
}

.footer-social-link:hover,
.footer-social-link:focus,
.footer-social-link:active {
  background-color: #31d0aa;
}

.footer-second-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #ffffff;
}

/* .footer-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.footer-form {
  display: flex;
  gap: 24px;
  margin-left: 80px;
}

.subscribe-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-left: 80px;
  margin-bottom: 16px;
}

.footer-input {
  width: 264px;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #ffffff;
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;
  outline: transparent;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
  color: #ffffff;
  font-weight: 400;
}

.footer-input:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.subscribe-btn {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
}

.subscribe-btn-icon {
  margin-left: 16px;
}
/* --------------- FOOTER STYLES /--------------- */

/* --------------- BACKDROP STYLES --------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* --------------- BACKDROP STYLES /--------------- */

/* --------------- MODAL STYLES --------------- */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px;
  line-height: 0;
  fill: #2e2f42;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-icone {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form-label,
.modal-form-checkbox-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-form-field {
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-wrapper {
  margin-bottom: 8px;
}

.modal-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrapper {
  position: relative;
}

.modal-form-field:focus-within,
.modal-form-massage:focus-within {
  border-color: #4d5ae5;
  outline: transparent;
}

.modal-form-field:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-form-massage {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
}

.modal-form-massage::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-massage-wrapper {
  margin-bottom: 16px;
}

.modal-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
}

.policy-link {
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #4d5ae5;
}

.modal-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.modal-form-checkbox-field:checked
  + .modal-form-checkbox-label
  .modal-own-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.modal-form-checkbox-field + .modal-form-checkbox-label .modal-own-checkbox {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  display: block;
  height: 56px;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: #404bbf;
  border: #404bbf;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
/* --------------- MODAL STYLES /--------------- */
